*{
    padding: 0;
}

.container{
    height: 75px;
    background-color: white; 
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    padding: 0 20px;
    margin: 0 130px;
    max-width: 1300px;
}

.logo {
    font-family: 'Poppins', sans-serif;
    color: black;
    padding: 10px;
}

.menu {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    color: black;
}

.menu li {
    margin: 0 10px;
}

.menu li a {
    text-decoration: none;
    color: black;
}

.intro__title, .intro__subtitle {
    
    margin-bottom: 10px; /* Измените это значение, чтобы увеличить отступ */
}

.intro__inner{
    height: 150px;
    background-color: white; 
    display: flex; 
   
    padding: 0 20px;
    margin: 0 130px;
    max-width: 1300px;
}

.intro__text{
    font-family: 'Roboto Slab', serif;
    font-size: 36;

}