@media (max-width: 1260px){
  .white__box{
    right: 135px;
  }

  .work__image{
    left: 470px;
  }
  
  .work__small__box{
    left: -120px;
  }
  .left__box__high__text, .center__box__high__text, .right__box__high__text{
    left: -100px;
  }
  .left__box__text, .center__box__text, .right__box__text{
    left: -100px;
  }

  .glass__image{
    left: 390px;
  }

  .glass__left__small__box, .glass__center__small__box, .glass__right__small__box{
    left:-120px;
  }

  .glass__left__high__text, .glass__center__high__text, .glass__right__high__text{
    left: -100px;
  }

  .glass__left__text, .glass__center__text, .glass__right__text{
    left: -100px;
  }

  .footer__wrapper{
    justify-content: space-around;
    position: relative;
    left: -100px;
  }
}

@media (max-width: 1080px){
  .header__wrapper{
    margin-left: 0px
  }

  .white__box{
    right: 300px;
  }

  .work__small__box{
   left: -30px;
   width: 270px;
   height: 250px;
  }

  .left__box__high__text, .center__box__high__text, .right__box__high__text{
    left: -21px;
  }

  .center__box__high__text{
    width: 270px;
  }

  .left__box__text, .center__box__text, .right__box__text{
    left: -20px;
  }

  .glass__right__small__box, .glass__left__small__box, .glass__center__small__box{
    width: 290px;
    left: -20px;
    height: 200px;
  }
  .glass__center__small__box{
    width: 332px;
  }

  .glass__left__high__text, .glass__center__high__text, .glass__right__high__text{
    left: -10px;
  }
 
  .glass__left__text, .glass__center__text, .glass__right__text{
    left: -7px;
    width: 290px;
  }

  .glass__image{
    left: 430px;
  }

  .photo__down__left, .photo__upper__left{
    left: 500px;
  }

}

.left__box__text{
  width: 275px;
}
.center__box__text{
  width: 252px;
}
.right__box__text{
  width: 261px;
}

@media (max-width: 1024px){
  .white__box{
    right: 330px
  }

  .right__work__box{
    left: -80px;
  }

  .left__work__box{
    left: 30px;
  }

  .right__box__high__text{
    left: -70px;
  }
  
  .right__box__text{
    left: -70px;
  }

  .left__box__high__text{
    left: 40px;
  }
  .left__box__text{
    left: 40px;
  }

  .glass__right__small__box{
    left: -45px;
  }
  .glass__right__text, .glass__right__high__text{
    left: -35px;
  }

  .glass__left__small__box{
    left: 50px;
  }

  .glass__left__text, .glass__left__high__text{
    left: 55px;
  }

  .iksweb{
    position: relative;
    left: -40px;
  }
  }


@media (max-width: 768px){

  .intro{
    max-width: 100%;
    height: auto;
    overflow: visible;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
  }
  .header__wrapper{
    justify-content: space-around;
    margin-left: -130px;
  }

  .intro__title{
    max-width: 630px;
    margin-left: -60px;
    font-size: 34px;
  }
  .intro__subtitle{
    max-width: 580px;
    margin-left: -60px;
  }

  .upper__right__small__box, .down__right__small__box{
    margin-left: -190px;
    width: 326px;
  }

  .upper__right__high__text, .upper__right__text, .down__right__high__text, .down__right__text{
    margin-left: -190px;
  }

  .upper__right__text{
    width: 290px;
  }

  .work__small__box{
    display: grid;
  }

  .work__image{
    left: 355px;
  }
  .work__background__box{
    height: 1300px;
  }
  .right__work__box, .right__box__high__text{
    top: 280px;
    left: -550px;
  }

  .right__box__high__text{
    left: -545px;
  }

  .right__box__text{
    top: 340px;
    left: -545px;
  }


  .center__work__box{
    left: 60px;
  }

  .center__box__high__text,.center__box__text{
    left: 65px;
  }


  .glass__image{
    max-width: 650px;
    height: auto;
    left: 400px;
  }

  .glass__background{
    height: 1300px;
  }

  .glass__right__small__box{
    top: 250px;
    left: -545px;
  }

  .glass__right__high__text{
    top: 255px;
    left: -540px;
  }

  .glass__right__text{
    top: 320px;
    left: -540px;
  }

  table.iksweb{
    width: 600px;
  }

  .photo__upper__right{
    left: -110px;
  }

  .photo__down__left{
    left: 250px;
  }

  .photo__upper__left{
    left: -110px;
  }

  .photo__down__right{
    left: 250px;
  }
}

@media only screen and (max-width: 420px) {
  .header__logo{
    left: 40px;
  }
  .header__wrapper {
    height: 75px; /* Примерная высота для мобильных устройств */
    justify-content: space-between;
  }

  .hamburger-menu {
    display: flex;
    align-items: center;
    left: -100px;
    position: relative;
  }

  .nav {
    display: none; /* Скрыть основное меню */
    flex-direction: column; /* Отображение пунктов меню по вертикали */
    background-color: #ffffff; /* Цвет фона для мобильного меню */
    position: absolute;
    top: 100%;
    left: 0;
    width: auto;
    color: black;
    padding: 20px 0; /* Примерный отступ */
    z-index: 2;
  }

  .nav.mobile-menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 10px 0;
  }

  .hamburger-icon {
    display: block;
    cursor: pointer;
    padding: 10px;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
  }

  /* Анимация гамбургер иконки при открытии/закрытии меню */
  .change .bar:nth-child(1) {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .change .bar:nth-child(2) {
    opacity: 0;
  }

  .change .bar:nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
    transform: rotate(45deg) translate(-5px, -6px);
  }

  /* Отображение меню при нажатии на иконку */
  .mobile-menu.active {
    display: flex;
  }

  .nav__link::after{
    background-color: black;
  }
  
  .intro__title{
    font-size: 24px;
    position: relative;
    left: -30px;
    max-width: 320px;
  }

  .intro__subtitle{
    max-width: 320px;
    font-size: 18px;
    position: relative;
    left: -30px;
  }

  .title__text{
    font-size: 28px;
    letter-spacing: 4.2px;
    position: relative;
    right: 25px;
  }
  
  

  .upper__right__small__box, .upper__right__high__text, .upper__right__text{
   display: none;
  }
  .down__right__small__box, .down__right__high__text, .down__right__text{
    display: none;
  }
  .background__box{
    width: 430px;
  }

  .work__image{
  transform: scale(0.55);
  left: 176px;
  top: 100px
  }

  .work__title__text{
    font-size: 28px;
    letter-spacing: 4.2px;
    width: 300px;
    line-height: 45px;
  }

  .left__work__box{
    top: -260px;
    left: 60px;
    height: 206px;
  }
  .left__box__high__text{
    top: -255px;
    left: 65px;
  }
  .left__box__text{
    top: -150px;
    left: 65px;
  }

  .center__work__box{
    left: -345px;
  }

  .center__box__high__text{
    left: -335px;
  }

  .center__box__text{
    left: -335px;
  }

  .right__work__box{
    left: -730px;
    height: 230px;
  }

  .right__box__high__text{
    left: -720px;
  }

  .right__box__text{
    left: -720px;
  }

  .glass__background{
    height: 1300px;
  }

  .glass__image{
    transform: scale(0.55);
    left: 220px;
    top: 100px;
  }

  .glass__title__text{
    font-size: 28px;
    letter-spacing: 4.2px;
    width: 300px;
    line-height: 45px;
  }
  
}

@media (max-width: 320px){

}