@media (max-width: 1260px){
  .white__box{
    right: 135px;
  }
}

@media (max-width: 1080px){
  .header__wrapper{
    margin-left: 0px
  }
}

@media (max-width: 992px){
  .container{
    max-width: 900px;
  }
  .white__box{
    right: 350px;
  }
  .footer{
    justify-content: space-around;
  }
}

@media (max-width: 850px){
  .intro__content{
    margin-bottom: 150px;
  }
  .wrapper{
    flex-wrap: wrap;
    
  }

  .info__item{
    width: 100%;
    text-align: center;
   
  }
  .block{
    width: 100%;
    padding-bottom: 120px;
  }

  .block:last-child{
    padding-bottom: 20px;
  }
 
  .section__about{
    margin-top: 0;
  }
  .info{
    transform: translateY(-50%);
  }

  .services__content{
    height: 450px;
    background-position: center;
  }

  .label{
    font-size: 12px;
  }
}